#taglineContainer {
  margin-top: 20vh;
}

#contactContainer {
  margin-top: 15vh;
}

#projectsContainer,
#aboutContainer {
  margin-top: 25vh;
}

#tagline1,
#repeat,
#intro1,
#intro2,
#bio,
#bio2 {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 2rem;
}

#intro1,
#intro2 {
  margin: 2rem 1rem;
}

#tagline1 {
  float: left;
}

#repeat {
  margin-bottom: 11rem;
}

#intro1,
#name,
#intro2 {
  text-align: center;
  float: left;
}

#name {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

#bioPic {
  display: flex;
  float: left;
  margin-right: 5rem;
}

.carousel-indicators li {
  background-color: #577284;
  margin: 0 1rem;
}

h2 {
  font-weight: bold;
  font-size: 1.4rem;
}

h2,
p {
  margin-bottom: 0.5rem;
}

#codeLink {
  font-size: 1.3rem;
  font-weight: bold;
}

#codeLink:hover {
  color: rgb(197, 197, 197);
}

#title {
  font-size: 1.5rem;
}

#codeBlock {
  font-size: 1.2px;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 1000px) {

  #taglineContainer,
  #aboutContainer,
  #projectsContainer {
    margin-top: 15vh;
  }
  
  #repeat {
    margin-bottom: 7rem;
  }

  #intro1,
  #name,
  #intro2,
  #bioPic {
    float: none;
  }

  #bioPic {
    margin: 0 auto;
  }

  #bio2 {
    margin-bottom: 7rem;
  }

}

@media only screen and (max-width: 600px) {

  #tagline1,
  #repeat,
  #intro1,
  #intro2 {
    font-size: 1.4rem;
    margin: 1rem 1rem;
    float: none;
    text-align: center;
  }

  #repeat {
    margin-bottom: 5rem;
  }

  #intro1,
  #name,
  #intro2 {
    float: none;
  }

  #name {
    font-size: 2.5rem;
  }

  #intro2 {
    margin-bottom: 7rem;
  }

}