*{
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

body {
  height: 100%;
  background-color: black;
  color: white;
}

#row-tagline,
#row-intro,
#row-motto {
  text-align: center;
}

#row-tagline {
  margin-top: 50px;
}

#tagline1,
#tagline2,
#tagline3 {
  opacity: 0;
  transition: 4s opacity;
  text-align: center;
  font-size:32px;
  color: white;
}

#row-intro,
#row-motto {
  margin-top: 25px;
}