*{
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

body {
  height: 100%;
  background-color: black;
  color: white;
}

#row-tagline,
#row-intro {
  text-align: center;
  margin-top: 50px;
}

#tagline1,
#tagline2,
#tagline3,
#intro {
  opacity: 0;
  transition: 4s opacity;
  font-size:32px;
  color: white;
}