footer {
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}

a {
  color: white;  
}

a:hover {
  color: #83C7FF;
  text-decoration: none;
}

#footer-links {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
}

/* @media only screen and (min-width: 770px) {
  #footer-email,
  #footer-phone {
    float: right;
    clear: both;
  } */